/* ==========================================================================
   Create & Build — Fonts
   Body    : Aileron         → self-hosted (licensed .otf supplied by client)
   Display : Berlin Sans FB  → self-hosted (licensed .ttf supplied by client)
   ========================================================================== */

@font-face {
  font-family: 'Berlin Sans FB';
  src: url('../assets/fonts/BerlinSansFB-Regular.ttf') format('truetype');
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berlin Sans FB';
  src: url('../assets/fonts/BerlinSansFB-Bold.ttf') format('truetype');
  font-weight: 600 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
